body {
    color: white;
    background: darkblue;
    margin: 0px;
}

header {
    border-bottom: solid rgb(60 155 227 / 94%);
    padding: 20px;
    font-size: 40px;
    color: rgb(60 155 227 / 94%);
}

section {
    background-color: rgb(33, 0, 97) ;
    padding-bottom: 10px;
    padding-top: 0px;
    display: flex;
    justify-content: center;
}

div {
    margin: 10px;
}

